/* Styles for Mobile devices */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1158px;
  min-height: 750px;
  padding: 15px;
}
/* Styles for Tablet devices */
/* @media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
} */
/* Styles for Desktop devices */
/* @media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */
